.imagem{
    display: inline-flex;
    margin: 4%;
    border-radius: 100px;
}

.formulario{
    width: 50%;
    float: right;
    display: inline-flex;
    margin-top: 2%;
}

.form-horizontal{
    width:90%;
}

.form-group{
    margin-bottom:0px !important;
}

.btn{
    margin: 10px 0px 10px 54px;
}

#botao{
    display:none;
}

#form-imagem{
    width: 200px;
}

#bloco-foto{
    display: inline-block;
}
